<HTML>
  <BODY>
    {% if notes_list %}                                                        
     <ul>                                                                       
     {% for note in notes_list %}                                               
       Title:<b> {{note.title}}</b><br>                                           
       {{note.content}}<br>                                                       
       {% if note.image  %}                                                       
       <img src="{{MEDIA_URL}}{{note.image}}" WIDTH="300" HEIGHT="300"><br>       
       {% endif  %}                                                               
       Note was added: {{note.added}}<br>                                         
       Last update: {{note.updated}}<br><br>                                      
     {% endfor %}                                                               
    {% endif  %}
     </ul>                                                                      
  </BODY>
